
body{
    background: url("foto10.jpg");  
}


.formBox{
    margin-top: 40px;
    margin-left: 30%;
    padding: 5px;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    font-size: 40px;
}

.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.input{
    position: relative;
    width: 90%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid rgba(0,0,0,.5);
}

.inputText{
    position: absolute;
    line-height: 50px;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    transition: .5s;
    opacity: .5;
}

.focus .inputText{
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #ed292a;
}

.button{
    width: 43%;
    background: #ed292a;
    color: #fff;
    border-radius: 0;
    border: none;
    height: 30px;
    font-size: 20px;
}




